<html>
<head>
    <title>LOGIN</title>
    <script>
        function validateLoginForm() {
            var email = document.forms["loginForm"]["email"].value;
            var password = document.forms["loginForm"]["password"].value;

            var emailPattern = /^[a-zA-Z0-9._-]+@[a-zA-Z0-9.-]+\.[a-zA-Z]{2,6}$/;
            if (email == "") {
                alert("Email must be filled out.");
                return false;
            } else if (!emailPattern.test(email)) {
                alert("Please enter a valid email address.");
                return false;
            }

            if (password == "") {
                alert("Password must be filled out.");
                return false;
            }

            return true;
        }
    </script>
</head>
<body>
    <h2>Register</h2>
    <form name="loginForm" method="post" action="../Controller/login.php" onsubmit="return validateLoginForm()"> 
        Email: <input type="text" name="email" value="" /> <br>
        Password: <input type="password" name="password" value="" /><br>
        <input type="submit" name="submit" value="Submit" />
    </form>
</body>
</html>
