<html>
<head>
    <title>Signup</title>
    <script type="text/javascript">
        function validateForm() {
            var username = document.forms["signupForm"]["username"].value;
            var email = document.forms["signupForm"]["email"].value;
            var password = document.forms["signupForm"]["password"].value;

            if (username == "") {
                alert("Name must be filled out.");
                return false;
            }

            var emailPattern = /^[a-zA-Z0-9._-]+@[a-zA-Z0-9.-]+\.[a-zA-Z]{2,6}$/;
            if (email == "") {
                alert("Email must be filled out.");
                return false;
            } else if (!emailPattern.test(email)) {
                alert("Please enter a valid email address.");
                return false;
            }

            if (password == "") {
                alert("Password must be filled out.");
                return false;
            } else if (password.length < 6) {
                alert("Password must be at least 6 characters long.");
                return false;
            }

            return true;
        }
    </script>
</head>
<body>
    <h2>Register</h2>
    <form name="signupForm" method="post" action="../Controller/register.php" onsubmit="return validateForm()"> 
        Name: <input type="text" name="username" value="" /> <br>
        Email: <input type="email" name="email" value="" /><br>
        Password: <input type="password" name="password" value="" /><br>

        <input type="submit" name="submit" value="Submit" />
        <p>Already registered? then</p>
        <a href="../view/login.html">Please login</a>
    </form>
</body>
</html>
